#title-element{
	padding-right: 0%; 
	padding-top: 5%;
}
#title-site{
	position: relative;
	top: 35px;
	left: -30px;
	color: #8B4513;
	font-weight:bold;
	letter-spacing:2px;
}
#search-panel{
	padding-top: 4%;
}
#head-right{
	padding-top: 3%;
	padding-left: 30%;
}
#search-button{
	margin-top: -5px;
	margin-left: -1px;
	padding: 3px;
}
#button-in-system{
	padding: 3px;
}
a:hover{
	text-decoration:none;
}

header, header div{
	background-color: #F2F2F2;
}
body{
	background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
#link-about-me{
	font-family: "Monotype Corsiva" Cursive;
	font-size: 20px;
	font-weight: bold;
}
li a{
	font-weight: bold;
}
.button-system{
	margin-top: 5px;
	width: 100%;
}

.dropdown-submenu {
    position: relative;
	width: 100%;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.content-info{
	padding: 10px;
}
.option-component-label{
	font-size: 16px; 
	float: right;
	font-family: Verdana;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 10vh;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh; /*высота футера будет зависеть от высоты экрана*/
	background-color: #1C1C1C;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 150px;
	flex: 0 0 auto;
	margin-bottom: -40px;
}
.footer-map{
	padding-top: 5px;
}
.row-list-component{
	font-family: Consolas; 
	text-align: center;
	margin-bottom: 70px;
}
.img-list-component{
	padding: 5px;
	margin: 5px;
	height: 170px; 
	width: 200px;
}
.title-component-list{
	color: #585858; 
	font-weight: bold;
	font-size: 18px;
}
.hr-component-list{
	margin: 10px;
}
.hover-list-component:hover{
	background-color: #EFF5FB;
}
.label-input{
	font-size: 16px; 
	font-weight: bold; 
	margin-bottom: -2px;
}
.element-component{
	margin-bottom: 10px;
}
.form-add-component{
	margin-left: 40px;
}
.button-add-component, .button-del-component{
	font-size: 24px; 
	padding: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
.button-del-component{
	margin-left: 10px;
	font-weight: bold;
		padding-left: 13px;
	padding-right: 13px;
}
.option-filter{
	margin-left: 13px;  
	font-size: 16px; 
	font-weight: bold;
}
.add-hide-button{
	font-size: 18px;
}
.button-delete-moderator{
	padding: 0px; 
	font-weight: bold;
	font-size: 20px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.input-delete-moderator{
	font-weight: bold; 
	margin-right: 10px;
	margin-left: 10px; 
	font-family: Arial;
}
.row-filter{
	padding-bottom: 10px;
}